h1{
  color:red;
  font-size: 60px;
}
p{
  color:blue;
  font-size: 20px;
}
div{
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin-bottom: 20px;
}
div p{
  color: black;
}
.text-bk{
  color: red;
  text-align: right;
}
.first-div{
  background-color: blue;
}
.first-div p{
  color: white;
}