h1{
  color:red;
  font-size: 60px;
}
p{
  color:blue;
  font-size: 20px;
}
div{
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin-bottom: 20px;
}
div p{
  color: black;
}
.text-bk{
  color: red;
  text-align: right;
}
.first-div{
  background-color: rgb(134, 250, 62);
  align-content: center;
  margin-left: 50%;
  margin-right: 50%;
  text-shadow: 2px 2px 5px gray;
  border-radius: 25px 60px;
  padding: 10px;
}
.first-div p{
  color: white;
}
.first_head{
  color: red;
  background-color: yellow;
  text-align: center;
  text-decoration: underline;
}
